@import url("http://fonts.cdnfonts.com/css/questa-sans");
@import url("http://fonts.cdnfonts.com/css/noe-display");
@import url(https://fonts.googleapis.com/css?family=Raleway);

/* Add a black background color to the top navigation */
html,
body {
	margin: 0;
	padding: 0;
	height: 100%;
	background-color: #fffdfb;
	color: #231f20;
	font-family: "Questa Sans", sans-serif;
}
.top-nav {
	display: none;
}
.logotop {
	display: none;
}
.topnav {
	overflow: hidden;
	justify-content: center;
	text-align: center;
}

/* Style the links inside the navigation bar */
.topnav a {
	color: #231f20;
	float: left;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
	text-decoration: underline;
	text-decoration-color: #cc7722;
	background-color: #faf7f4;
}

/* Add a color to the active/current link */
.topnav a.active {
	text-decoration: underline;
	text-decoration-color: #cc7722;
}
.topnav ul {
	list-style-type: none;
}

.topnav li {
	display: inline-block;
}

.toplogo {
	width: 119px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
@media screen and (max-width: 800px) {
	.navtop {
		display: none;
	}
	.toplogo {
		display: none;
	}
	.logotop {
		width: 60px;
		display: block;
		margin-left: 15%;
		margin-top: 25px;
	}

	h2 {
		vertical-align: center;
		text-align: center;
	}

	html,
	body {
		margin: 0;
		height: 100%;
	}

	* {
		font-family: "Noe Display";
		box-sizing: border-box;
	}

	.top-nav {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		background-color: #fffdfb;
		background: #fffdfb;
		/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
		color: #cc7722;
		height: 50px;
		padding: 1em;
	}

	.menu {
		display: flex;
		flex-direction: row;
		list-style-type: none;
		margin: 0;
		padding: 0;
	}
	.top-nav a {
		color: #231f20;
		float: left;
		text-align: center;
		padding: 14px 16px;
		text-decoration: none;
		font-size: 17px;
	}

	/* Change the color of links on hover */
	.top-nav a:hover {
		text-decoration: underline;
		text-decoration-color: #cc7722;
		background-color: #faf7f4;
	}

	.menu > li {
		margin: 0 1rem;
		overflow: hidden;
	}

	.menu-button-container {
		display: none;
		height: 100%;
		width: 30px;
		margin-right: 3%;
		margin-top: 15px;
		cursor: pointer;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	#menu-toggle {
		display: none;
	}

	.menu-button,
	.menu-button::before,
	.menu-button::after {
		display: block;
		background-color: #cc7722;
		position: absolute;
		height: 1px;
		width: 35px;
		transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
		border-radius: 3px;
	}

	.menu-button::before {
		content: "";
		margin-top: -8px;
	}

	.menu-button::after {
		content: "";
		margin-top: 8px;
	}

	#menu-toggle:checked + .menu-button-container .menu-button::before {
		margin-top: 0px;
		transform: rotate(405deg);
	}

	#menu-toggle:checked + .menu-button-container .menu-button {
		background: rgba(255, 255, 255, 0);
	}

	#menu-toggle:checked + .menu-button-container .menu-button::after {
		margin-top: 0px;
		transform: rotate(-405deg);
	}

	@media (max-width: 700px) {
		.menu-button-container {
			display: flex;
		}
		.menu {
			position: absolute;
			top: 0;
			margin-top: 50px;
			left: 0;
			flex-direction: column;
			width: 100%;
			justify-content: center;
			align-items: center;
		}
		#menu-toggle ~ .menu li {
			height: 0;
			margin: 0;
			padding: 0;
			border: 0;
			transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
		}
		#menu-toggle:checked ~ .menu li {
			height: 2.5em;
			padding: 0.5em;
			transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
		}
		.menu > li {
			display: flex;
			justify-content: center;
			margin: 0;
			padding: 0.5em 0;
			width: 100%;
			color: #282828;
			background-color: #fffdfb;
		}
		.menu > li:not(:last-child) {
			border-bottom: 1px solid #444;
		}
	}
}

footer {
	background-color: #231f20;
	color: #fffdfb;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
	position: absolute;
	width: 100vw;
	height: 213px;
	margin: 0px;
}
.footerclass {
	width: 100%;
	height: 100%;
	color: #d2d2d2;
	font-family: "Questa Sans", sans-serif;
	align-items: center;
	align-content: center;
	text-align: left;
}
.footertext p {
	margin: 3px;
}
.footertext h3 {
	font-size: 17px;
	font-weight: 300;
	margin-bottom: 7px;
	margin-top: 10%;
}
.footbox1 {
	padding-left: 70px;
}
.apningstider {
	padding-left: 70px;
}
.apningstider h3 {
	font-size: 17px;
	font-weight: 300;
	margin-bottom: 7px;
	margin-top: 10%;
}
.apningstider p {
	margin: 3px;
}

.socialMedia {
	width: 24px;
	margin-top: 4%;
	margin-left: 2%;
}
.tripAdvisor {
	width: 30px;
	margin-top: 4%;
	margin-left: 2%;
}

#map {
	height: 100%;
	width: 100%;
	margin: 0;
}
.iconBottom {
	height: 100%;
}
.artWrapper {
	width: 90%;
	margin: auto;
	font-size: 20px;
}
.artWrapper h3 {
	font-size: 30px;
	font-family: "Noe Display", sans-serif;
}
.artWrapper p {
	font-size: 20px;
}
.firstArtColumn {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	margin-bottom: 250px;
}
.secondArtColumn {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	margin-top: 300px;
}

.kunst {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

#kunstBilde {
	width: 100%;
}
#kunstBilde:hover {
	opacity: 0.7;
}
.popup {
	display: none;
	position: fixed;
	z-index: 1; /* Sit on top */
	padding-top: 100px; /* Location of the box */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgba(0, 0, 0, 0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.popup-content {
	margin: auto;
	display: block;
	width: 80%;
	max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
	margin: auto;
	display: block;
	width: 80%;
	max-width: 700px;
	text-align: center;
	color: #ccc;
	padding: 10px 0;
	height: 150px;
}

/* Add Animation - Zoom in the Modal */
.popup-content,
#caption {
	animation-name: zoom;
	animation-duration: 0.6s;
}

@keyframes zoom {
	from {
		transform: scale(0);
	}
	to {
		transform: scale(1);
	}
}

/* The Close Button */
.close {
	position: absolute;
	top: 15px;
	right: 35px;
	color: #f1f1f1;
	font-size: 40px;
	font-weight: bold;
}

.close:hover,
.close:focus {
	color: #bbb;
	text-decoration: none;
	cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
	.popup-content {
		width: 100%;
	}
}

.artText {
	width: 90%;
	margin: auto;
	margin-bottom: 0px;
	font-size: 20px;
}
.artText h1 {
	font-size: 50px;
	font-family: "Noe Display", sans-serif;
}
.menyOverskrift {
	font-family: "Noe Display", sans-serif;
}
h2.menyOverskrift {
	padding-top: 20px;
	margin-bottom: 10px;
}

.menuContainer {
	width: 100%;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

.menyBox {
	display: flex;
	width: 700px;
	margin: 20px;
	flex-direction: row;
}
.menyBox:nth-child(2n) {
	text-align: end;
	flex-direction: row-reverse;
}
.menyBox:last-child {
	padding-top: 30px;
	text-align: center;
	flex-direction: row;
	font-size: 16px;
	font-weight: 100;
	padding-bottom: 10px;
}

div#menySandwichBread {
	width: 100%;
}
div#menyLunsj {
	width: 100%;
}
div#menySalad {
	width: 100%;
}
div#Sandwich {
	width: 100%;
}
.breadCheese {
	width: 150px;
	transform: translate(-20px, -60px);
}
.bread {
	width: 100px;
	transform: translate(-120px, 30px);
}
.vegetables {
	width: 150px;
}
.menuItems {
	font-weight: 700;
}
.menuDescription {
	font-size: 16px;
	font-weight: 100;
	font-style: italic;
	padding-bottom: 10px;
}
@media screen and (max-width: 800px) {
	.menyBox {
		width: 100%;
		margin-left: 15%;
	}
	.menyBox:nth-child(2n) {
		flex-direction: row;
		text-align: left;
	}
	h2.menyOverskrift {
		margin-left: -15%;
	}
	.breadCheese {
		display: none;
	}
	.bread {
		display: none;
	}
	.vegetables {
		display: none;
	}
	#map {
		display: none;
	}
}
